[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
scipy = "*"
pandas = "*"
datetime = "*"
matplotlib = "*"
plotly = "*"
jupyterlab = "*"
streamlit = "*"
pytest = "*"
sklearn = "*"
xgboost = "*"
lightgbm = "*"
#optuna = "*"
manim = "*"

[dev-packages]

[requires]
python_version = "3.9"
